@model twit.Models.ChangePasss
@{
    ViewData["Title"] = "changepassword";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        .login-card{
            max-width:500px;
        }
      .dbody{
          display:flex;
          justify-content:center;
          
      }

       
        .text-red{color:red;}
    </style>
</head>
<body>
    <div class="dbody">
    <div class="login-card container border border-black fs-3 p-3 m-0 ">
            @using (Html.BeginForm("changepassword", "Account", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.NewPass, new { @class = "text-box form-control  mb-2", Type = "", placeholder = "Password ", required = "required" })
                @Html.ValidationMessageFor(Model => Model.NewPass, null, new { @class = "text-red m-0 fs-6 " })

            @Html.TextBoxFor(model => model.ConfirmPass, new { @class = "text-box form-control ", Type = "", placeholder = "Re-enter Password", required = "required" })
                @Html.ValidationMessageFor(Model => Model.ConfirmPass, null, new { @class = "text-red m-0 fs-6 " })

            <button type="submit" class="btn form-control btn-outline-dark ">Change Pass</button>
        }

        @if (ViewBag.NotSucces != null)
        {
            <script>
                alert('@ViewBag.NotSucces');
            </script>
        }


            @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
            {
                @Html.TextBox("id", null, new { @class = "form-control", placeholder = "Enter ID" })
                <button type="submit" class="btn form-control btn-outline-dark ">Change Pass</button>

            }


    </div>
    </div>

</body>
</html>
